.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.btn-agregar-nav {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
    }
    .btn-agregar-nav {
        margin-left: 10px;
    }
}